<beans:beans
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<sec:global-method-security
		pre-post-annotations="enabled" />

	<sec:http entry-point-ref="restAuthenticationEntryPoint"
		create-session="stateless">
		<sec:csrf disabled="true" />
		<sec:custom-filter before="FORM_LOGIN_FILTER"
			ref="jwtAuthenticationFilter" />
	</sec:http>

	<beans:bean id="jwtAuthenticationFilter"
		class="com.carlos.security.JwtAuthenticationFilter">
	</beans:bean>

	<sec:authentication-manager
		alias="authenticationManager">
		<sec:authentication-provider
			user-service-ref="securityService">
			<password-encoder ref="encoder"/>
		</sec:authentication-provider>
	</sec:authentication-manager>

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength"	value="12" />
	</beans:bean>

</beans:beans>