<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" /> 
</head>
<body>


<script type='text/javascript'>
	function loadDoc() {
	  var xhttp = new XMLHttpRequest();
	  xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
		 document.getElementById("token").innerHTML = this.getResponseHeader("Token");
		}
	  };
	  xhttp.open("POST", "http://localhost:8080/MiniStore/login", true);
	  xhttp.setRequestHeader( 'Content-Type', 'application/json' );
	  var usernameString = document.querySelector('#username').value;
	  var passwordString = document.querySelector('#password').value;
	  xhttp.send(JSON.stringify({username:usernameString, password:passwordString}));
	}
</script>

<div>
  <h2>Login</h2>
  <form>
  First name: <input type="text" id="username"><br>
  Last name: <input type="password" id="password"><br>
  <button type="button" onclick="loadDoc()">Login</button>
  </form>
  <p id="token"></p>
</div>


</body>
</html>
