<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" /> 
</head>
<body>


<script type='text/javascript'>
console.log("Hello");
	function loadDoc() {
	  var xhttp = new XMLHttpRequest();
	  xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
		 document.getElementById("demo").innerHTML = this.responseText;
		}
	  };
	  xhttp.open("POST", "http://localhost:8080/MiniStore/login", true);
	  xhttp.setRequestHeader( 'Content-Type', 'application/json' );
	  xhttp.send('{"username":"admin", "password":"admin"}');
	}
</script>

<div id="demo">
  <h2>Let AJAX change this text</h2>
  <button type="button" onclick="loadDoc()">Change Content</button>
</div>


</body>
</html>
